/* stylelint-disable selector-pseudo-class-no-unknown */

.homeSearchIcon,
.resultsSearchIcon {
  position: absolute;
  width: 25px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

:global(.dark-theme) :local(.homeSearchIcon) {
  :local(.searchCircle),
  :local(.searchStrokePath) {
    stroke: #fff;
  }
}

// stylelint-disable no-descending-specificity
:global([class*="light-theme-"]) :local(.homeSearchIcon) {
  :local(.searchCircle),
  :local(.searchStrokePath) {
    stroke: #200e32;
  }
}
