.primarySearch {
  position: relative;
  width: calc(100% - 15vw);
  margin-top: 25px;
  transition-delay: 0.7s;

  .icon.primarySearchButton {
    position: absolute;
    width: 50px;
    top: 0;
    right: 0;
    opacity: 0.5;
    height: 100%;
    background: transparent;
    border: 0;
    outline: none;
    transition: all 0.3s ease-in-out;
    cursor: pointer;

    &.disabled {
      pointer-events: none;
      opacity: 0.15;
    }

    &:hover {
      opacity: 1;
    }
  }

  @media only screen and (max-width: 600px) {
    width: calc(100% - 2vw);
  }
}
