.primarySearch {
  position: relative;
  width: calc(100% - 15vw);
  margin-top: 25px;
  transition-delay: 0.7s;

  .icon.primarySearchButton {
    position: absolute;
    width: 50px;
    top: 0;
    right: 0;
    opacity: 0.5;
    height: 100%;
    cursor: pointer;

    &:hover {
      opacity: 1;
    }
  }

  @media only screen and (max-width: 600px) {
    width: calc(100% - 2vw);
  }
}
