/* stylelint-disable selector-pseudo-class-no-unknown */

@import "../../styles/mixins";

.defaultDiv {
  position: relative;
  width: 100vw;
  height: 100vh;

  .info {
    @include transform-center;

    color: #757575;
    text-align: center;
    padding: 5vw;
    box-shadow: 0 0 0 1px #424242, inset 0 0 50px 10px rgba(53, 53, 53, 0.4);
    border-radius: 10px;

    .emoticon {
      display: block;
      font-size: 10vw;
      margin-bottom: 2.5vh;
      filter: grayscale(1) contrast(2);
      opacity: 0.5;
    }
  }
}

.container {
  position: relative;
  height: 100vh;
  max-width: 75vw;
  margin: 0 auto;

  &.show {
    display: block;
  }

  .resultsContainer {
    position: relative;
    display: flex;
    padding-top: 60px;

    &.hideResults {
      display: none;
    }

    .results,
    .lyricsContainer {
      height: calc(100vh - 60px);
      transition: all 0.3s ease-in-out;
    }

    .results {
      position: relative;
      flex: 1;

      .resultsHeader {
        position: absolute;
        top: 0;
        left: 0;
        height: 50px;
        width: 100%;
        z-index: 1;
        backdrop-filter: blur(10px);
        font-size: 0.75em;
        letter-spacing: 5px;
        text-align: center;
        text-transform: uppercase;
        justify-content: center;
        display: flex;
        align-items: center;
      }

      .resultsOverflow {
        position: relative;
        padding-top: 50px;
        max-height: calc(100vh - (6vh + 60px));
        overflow-y: scroll;
      }

      .pagination {
        position: absolute;
        display: flex;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 6vh;
        justify-content: center;
        padding: 1.5vh;

        button {
          &.previous,
          &.next {
            padding: 0.5vh 1vw;
            margin: 0 10px;
            background: none;
            border: 0;
            outline: none;
            border-radius: 50px;
            opacity: 0.6;
            cursor: pointer;
            transition: all 0.2s ease-in-out;

            &:hover {
              opacity: 0.9;
              background: #fff;
              color: #000;
              box-shadow: none;
            }

            &.disable,
            &:disabled {
              opacity: 0.25;
              cursor: not-allowed;
              pointer-events: none;
            }
          }
        }
      }
    }

    .lyricsContainer {
      flex: 0;
      display: flex;
    }
  }

  &.lyricsOpen {
    max-width: 100vw;
  }
}

:global([class*="light-theme-"]) {
  :local(.container) {
    background-color: #fff;

    .resultsContainer {
      .results {
        .resultsHeader {
          color: #272727;
          background: rgba(255, 255, 255, 0.3);
          box-shadow: 0 1px 0 0 #d6d6d6;
        }

        .pagination {
          button {
            &.previous,
            &.next {
              color: #0f6af9;
              box-shadow: 0 0 0 1px #0f6af9;

              &:hover {
                background: #0f6af9;
                color: #fff;
              }
            }
          }
        }
      }
    }
  }

  :local(.defaultDiv) {
    .info {
      color: #353535;
      box-shadow: 0 0 0 1px #f5f5f5, inset 0 0 50px 10px rgba(255, 255, 255, 0.4);
    }
  }
}

// stylelint-disable no-descending-specificity
:global(.dark-theme) {
  :local(.container) {
    .resultsContainer {
      .results {
        .resultsHeader {
          color: #888;
          background: rgba(0, 0, 0, 0.3);
        }

        .pagination {
          button {
            &.previous,
            &.next {
              color: #fff;
              box-shadow: 0 0 0 1px #fff;

              &:hover {
                background: #fff;
                color: #000;
              }
            }
          }
        }
      }
    }
  }
}
