/* stylelint-disable selector-pseudo-class-no-unknown */

.container {
  position: relative;
  height: 100vh;
  max-width: 75vw;
  margin: 0 auto;

  &.show {
    display: block;
  }

  .resultsContainer {
    position: relative;
    display: flex;
    padding-top: 60px;

    .results,
    .lyricsContainer {
      height: calc(100vh - 60px);
      transition: all 0.3s ease-in-out;
    }

    .results {
      position: relative;
      flex: 1;

      .resultsHeader {
        position: absolute;
        top: 0;
        left: 0;
        height: 50px;
        width: 100%;
        color: #888;
        z-index: 1;
        background: rgba(0, 0, 0, 0.3);
        backdrop-filter: blur(10px);
        font-size: 0.75em;
        letter-spacing: 5px;
        text-align: center;
        text-transform: uppercase;
        justify-content: center;
        display: flex;
        align-items: center;
      }

      .resultsOverflow {
        position: relative;
        padding-top: 50px;
        max-height: calc(100vh - 110px);
        overflow-y: scroll;
      }

      .pagination {
        position: absolute;
        display: flex;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 6vh;
        justify-content: center;
        padding: 10px;

        button {
          &.previous,
          &.next {
            padding: 5px 15px;
            margin: 0 10px;
            background: none;
            border: 0;
            outline: none;
            color: #fff;
            box-shadow: 0 0 0 1px #fff;
            border-radius: 50px;
            opacity: 0.6;
            cursor: pointer;
            transition: all 0.2s ease-in-out;

            &:hover {
              opacity: 0.9;
              background: #fff;
              color: #000;
              box-shadow: none;
            }

            &.disable {
              opacity: 0.25;
              pointer-events: none;
            }
          }
        }
      }
    }

    .lyricsContainer {
      flex: 0;
      display: flex;
    }
  }

  &.lyricsOpen {
    max-width: 100vw;
  }
}

// :global([class*="light-theme-"]) {
//   :local(.container) {
//     background-color: #fff;
//   }
// }

// // stylelint-disable no-descending-specificity
// :global(.dark-theme) {
//   :local(.container) {
//     background-color: #0f1223;
//   }
// }
